@font-face {
  font-weight: 700;
  font-family: Fibre;
  src: url("./fonts/fibre/Fibre.otf");
}

@font-face {
  font-weight: 700;
  font-family: Bebas;
  src: url('./fonts//bebas/ofont.ru_Bebas\ Neue.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  font-size: 2vmin;
  font-family: 'Comfortaa', sans-serif;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  --s: 1s;
}

.source {
  position: absolute;
  top: -2vmin;
  left: 1vmin;
  font-size: 1.5vmin;
  display: flex;
  width: 30vmin;
  height: 10vmin;
  align-items: center;
  line-height: 1;
  opacity: 0.75;
}

.source a {
  color: #ff0000;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.copy {
  background-color: #2e2e2e51;
  padding: 1vmin;
  border-radius: 2vmin;
  display: block;
  margin-left: 2vmin;
}

.container {
  max-width: 200vmin;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
}

.logo {
  width: 50vmin;
  display: block;
  margin: 0 auto;
  margin-bottom: 5vmin;
  user-select: none;
}

.title {
  text-transform: uppercase;
  font-size: 7vmin;
  margin-bottom: 5vmin;
  font-family: 'Fibre', sans-serif;
  user-select: none;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80vmin;
  position: relative;
  margin-bottom: 3vmin;
  user-select: none;
}

#video-url {
  padding: 1vmin 6vmin;
  border-radius: 2vmin;
  border: 0.1vmin solid #000;
  width: 100%;
  height: 8vmin;
  background-color: #fdfdfd;
}

.search__icon {
  width: 4vmin;
  position: absolute;
  left: 1.3vmin;
}

.clear__icon {
  width: 2.5vmin;
  position: absolute;
  right: 2vmin;
  cursor: pointer;
}

.clear__icon:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.button {
  font-weight: 700;
  font-size: 4vmin;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1vmin 1vmin;
  background-color: #9d3535;
  color: rgb(41, 40, 90);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 50vmin;
  width: 25vmin;
  height: 7vmin;
  letter-spacing: 0.5vmin;
  border: 0.5vmin solid rgb(41, 40, 90);
  font-family: 'Bebas', sans-serif;
  position: relative;
  box-shadow: 0 0.5vmin 0 0vmin #9d3535;
  margin-bottom: 6vmin;
  user-select: none;
}

.button:active {
  transform: scale(0.95);
}

.none {
  display: none;
}

.random-comment::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5vmin;
  background-color: #2f2f2f;
}

.dots {
  width: 0.8vmin;
  height: 0.8vmin;
  position: absolute;
  border-radius: 50vmin;
  top: 1vmin;
  z-index: 1;
}

.red {
  background-color: #d74343;
  left: 1vmin;
}

.orange {
  background-color: #ff9500;
  left: 2.5vmin;
}

.green {
  background-color: #38c92d;
  left: 4vmin;
}

.random-comment {
  margin-top: 2vmin;
  font-weight: bold;
  position: absolute;
  right: 30vmin;
  bottom: 6vmin;
  background-color: #dddddd;
  border-radius: 1.5vmin;
  padding: 6vmin 1vmin 1vmin 1vmin;
  height: 35vmin;
  width: 60vmin;
  border: 0.5vmin solid #2f2f2f;
  overflow: hidden;
}

.spin1 {
  animation: spin1 var(--s) infinite;
  filter: blur(10px);
  user-select: none;
}

@keyframes spin1 {
  0% {
    right: 30vmin;
  }

  25% {
    right: 100vmin;
  }

  50% {
    right: 30vmin;
  }

  75% {
    right: 100vmin;
  }

  100% {
    right: 30vmin;
  }
}

#win {
  user-select: none;
  position: absolute;
  left: 50vmin;
  bottom: 6vmin;
}

.spin2 {
  animation: spin2 var(--s) infinite;
  filter: blur(10px);
}

@keyframes spin2 {
  0% {
    left: 50vmin;
  }

  25% {
    left: 120vmin;
  }

  50% {
    left: 50vmin;
  }

  75% {
    left: 120vmin;
  }

  100% {
    left: 50vmin;
  }
}

.win__block {
  display: block;
  width: 20vmin;
  height: 20vmin;
  margin: 0 auto;
  background-image: url('../img/win-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.avatar {
  position: absolute;
  z-index: -1;
  right: 49%;
  top: 52%;
  transform: translate(50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: 50vmin;
}

.win__icon {
  width: 17vmin;
  height: 17vmin;
  display: none;
}

.name {
  margin-bottom: 5vmin;
  user-select: none;
  display: flex;
  justify-content: center;
}

.comment {
  margin-bottom: 5vmin;
  user-select: none;
  position: relative;
}

.total__comments {
  margin-bottom: 5vmin;
  user-select: none;
}

.name span {
  color: #9d3535;
  font-family: 'Fibre', sans-serif;
  user-select: all;
  margin-left: 1vmin;
}

.comment span {
  color: #9d3535;
  font-family: 'Fibre', sans-serif;
}

.total__comments span {
  color: #9d3535;
  font-family: 'Fibre', sans-serif;
}

.win__title {
  font-family: 'Fibre', sans-serif;
  font-size: 10vmin;
  text-transform: uppercase;
  margin-bottom: 5vmin;
}

.copy__name{
  width: 2.4vmin;
  height: 3vmin;
  border-radius: 0.5vmin;
  margin-left: 1vmin;
  cursor: pointer;
  transform: translateY(-0.2vmin);
  background-image: url('../img/copy-icon.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}